<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/style/reset.css" rel="stylesheet" type="text/css" />
    <link href="assets/style/accueil.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
    <header>    
        <div>
            <img src="http://localhost/images/{{session.user.image1}}" alt="{{session.user.image1}}">
            <input type="checkbox" id="burger-checkbox">
            <label for="burger-checkbox">{{session.user.firstname}}.{{session.user.lastname}}</label>
            <div class="menu-wrapper">
                <nav>
                    <ul>
                        <li><a href="#">Mon Profil</a></li>
                        <li><a href="#">Mes Articles</a></li>
                        <li><a href="#">Donation</a></li>
                        <li><a href="#">Pass Premium</a></li>
                        <li><a href="#">Evenement</a></li>
                        <li><div></div></li>
                        <li><a href="#">Reglage</a></li>
                    </ul>
                </nav>
            </div>
        </div>
       <img alt="Logo MiiLove" src="https://media.discordapp.net/attachments/951121617642205184/966374494497280000/unknown.png">
       <button>Messages</button> 
    </header>
    <div class="line" ></div>


    {% block content %}{% endblock %}

</body>
</html>