       {% block header %}
       <header>
       <div class="div">
            <input type="checkbox" id="burger-checkbox">
            <label for="burger-checkbox" class="menu-label" style="background-image: url('http://localhost/images/{{session.user.image1}}');background-size:cover;"></label>
            <div class="menu-wrapper">
                <nav>
                    <ul>
                        <li><a href="/deconnection">Déconnexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>    
        <h1>Fifa Tournament</h1>
        
      <div>
        <input type="checkbox" id="message-checkbox" >
        <label for="message-checkbox" class="message-label"><a href="/login">Accueil</a></label>
        <div class="message-menu">
          </div>
      </div>
    </header>
      <div class="line" ></div>
    {% endblock %}

